<div class="container">
    <div class="list-author clearfix">
        {{#author}}
        <h3>Author</h3>
            <img src="{{image}}" alt="{{name}}" />
            <div class="info">
                <a href="{{url}}" class="name">{{name}}</a>
                <p class="bio">{{bio}}</p>
            </div>
        {{/author}}
    </div>
</div>
<h3 class="post-title"></h3>
{{#foreach posts}}
<section id="{{id}}" class="{{post_class}}">
	<h3 class="post-title"><a href="{{url}}">{{title}}</a><span class="separator"> &middot; </span>{{date published_at format='YYYY/MM/DD'}}<span class="taglist">{{tags separator=" " prefix=" &middot; "}}</span>{{#if featured}}<span class="separator"> &middot; </span><i class="fa fa-star-o feature-star"></i>{{/if}}</h3>
</section>
{{/foreach}}
